---
import '../styles/global.css';

import { ClientRouter } from 'astro:transitions';

interface Props {
  title: string;
  description?: string;
}

const { description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <link rel="canonical" href={canonicalURL} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="theme-color" content="#f5efe3" />

    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
